.hero,
.matatu,
.guide,
.guides,
.profiles,
.col,
.form {
    text-align: center;
}

.jumbotron {
    height: 70vh;
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    width: 70px;
}

.forms {
    display: inline;
}

.guide-header {
    text-align: center;
}

.card {
    text-align: center;
}

.profiles>.col {
    display: flex;
    justify-content: center;
}

.jumbotron {
    background-image: url(../assets/images/image2-1.jpg);
    background-size: cover;
    color: white;
}

.gallery {
    margin: 15px;
}

.container {
    text-align: center;
}
.container > h1 {
    text-transform: uppercase;
}
.buttons {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 7px;
    border-radius: 5px;
}
.buttons:hover {
    color: white;
    background-color: tomato;
    text-decoration: none;
}
.links {
    padding-top: 40px;
}
.mat, .form {
    background-color: thistle;
    border-radius: 10px;
}
#button, #guide {
    color: black;
}
.navbar {
    
}