.hero, .matatu, .guide, .guides, .profiles {
    text-align: center;
}
.jumbotron {
    height: 70vh;
    display: flex;
    align-items: center;
}
.logo {
    height: 70px;
    width: 70px;
}
.forms {
    display: inline;
}
.guide-header {
    text-align: center;
}
.card {
    text-align: center;
}
.profiles > .col {
    display: flex;
    justify-content: center;
}

/* gallery with filter */

